<div>
  <p style="color: green"><%= notice %></p>
  <% if @blog_posts.empty? %>
    <p>No blog posts yet.</p>
  <% else %>
    <div id="blog_posts">
      <% @blog_posts.each do |blog_post| %>
        <div class="card m-3 p-3">
          <div class="card-body">
            <%= render blog_post %>
            <a href="<%= blog_post_path(blog_post) %>" class="card-link">Show this blog post</a>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= button_to "New blog post", new_blog_post_path, method: :get, class: "btn btn-primary" %>
</div>

